<h1>Pirate name:</h1>
<p><%=@pirate.name%></p>
<p><%=@pirate.weight%></p>
<p><%=@pirate.height%></p>

<h2>First Ship:</h2>
<% @ships.each do |ship|%>
<p>Name: <%= @
<p>Type: <%=
<p>Booty: <%=
<h2>Second Ship:</h2>
